<ion-view view-title="Secretaria">
    <ion-content>
        <ion-list>
            <ion-item href="#/app/messages" class="item-icon-left">
                <i class="icon ion-ios-email"></i>  Anúncios
            </ion-item>
            <ion-item href="#/app/classesHours" class="item-icon-left">
                <i class="icon ion-clock"></i>  Horários das Aulas
            </ion-item>
            <ion-item href="#/app/officeHours" class="item-icon-left">
                <i class="icon ion-clock"></i>  Horários de Secretaria
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
