<ion-view view-title="Escola de Artes">
    <ion-content>
        <div class="list card">

            <div class="item">
                <h2>Escola de Artes</h2>
                <p>A nossa história</p>
            </div>

            <div class="item item-body">
                <img class="full-image" src="../img/Images/EAIFCT (2012).jpg">
                <p>
                    {{History}}
                </p>
            </div>

        </div>
    </ion-content>
</ion-view>
